.header {
  display: flex;
  justify-content: space-between;
  padding: 0rem 3rem;
  background-color: #343334;
  position: sticky;
  top: 0;
  color: white;
}

.header > div > a > span {
  text-transform: uppercase;
  color: white;
  font-weight: 500;
}
.header > div > a > span:nth-child(2) {
  display: none;
}
.header > article {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}
.header > article > a {
  text-transform: uppercase;
  color: white;
  padding: 0 3rem;
  font-weight: 200;
}
.header > article > a:hover {
  background-color: white;
  color: #343334;
  font-weight: 400;
}
.header > article > .btn {
  height: 100%;
  border: none;
}

@media (max-width: 500px) {
  .header {
    font-size: 1.3rem;
    gap: 2rem;
    padding: 0.5rem 2rem;
  }
  .header > article > a {
    padding: 0 1rem;
  }
  .header > article > .btn {
    padding: 0 1rem;
    font-size: 1.3rem;
  }
  .header > div > a > span:nth-child(1) {
    display: none;
  }
  .header > div > a > span:nth-child(2) {
    display: inline-block;
  }
}
