@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #343334;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-weight: 300;
  background-color: #dddada;
}
.btn {
  border: none;
  background-color: #343334;
  text-transform: uppercase;
  color: white;
  padding: 0 3rem;
  font-weight: 200;
  font-size: 1.6rem;
}
.btn > div {
  justify-content: center;
  align-items: center;
}
.btn:hover {
  background-color: white;
  color: #343334;
  font-weight: 400;
  border: 1px solid #343334;
}
